# Logs
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
# dotenv environment variable files
.env*

# gatsby files
.cache/
public

# Mac files
.DS_Store

# Local Netlify folder
.netlify

# Output folder for functions
dist
