@import "../../variables"

.mobile-menu
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: fixed
  top: 0
  right: 0
  z-index: $z-index-mobile-menu
  opacity: 0
  transform: translateX(100%)
  width: 50%
  height: 100%
  background-color: $text-color
  transition-property: transform, opacity
  transition-duration: 500ms
  padding: .5rem 0

  &.opened
    transform: translateX(0)
    opacity: 1


