@import "../../variables"

.mobile-menu
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: fixed
  transform: translateY(calc(-#{$header-height} - 100%))
  z-index: $z-index-mobile-menu
  border-top: $default-border
  opacity: 0
  width: 100%
  background-color: $text-color
  transition-property: transform, opacity
  transition-duration: 500ms
  padding: 1rem 0

  &.opened
    transform: translateY(0)
    opacity: 1


