@import "../variables"

.banner
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  width: 100%
  height: calc(100vh - #{$header-height})
  color: $secondary-color
  letter-spacing: .5rem
  text-shadow: 2px 2px 7px $secondary-color
  background:
    image: url("../images/banner.jpg")
    size: cover
    repeat: no-repeat
  > h1
    font:
      size: 3rem
      weight: bold
