.brand {
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  margin-right: auto;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: white;
}

.header-link {
  color: black;
  text-decoration: none;
  padding: .5rem 1rem;
  font-weight: bold;
  transition: color .5s, background-color .5s;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 .5rem;
}

.header-link:hover,
.header-link:active {
  color: white;
  background-color: black;
}

.call-to-action {
  composes: header-link;
  border: 2px solid black;
  transition: color .5s, background-color .5s;
  margin-left: auto;
}

.call-to-action:hover {
  color: white;
  background-color: black;
}
