@import "src/variables"
@import "src/mixins"

.blog
  border: $default-border
  border-right-width: 0
  border-left-width: 0
  transition: transform 300ms
  margin: 2rem
  max-width: 90%
  padding: 1rem

  @include desktop-media-query()
    max-width: 70%
    &:hover
      transform: translateY(-5%)


.blog-link
  grid-template-rows: 2fr 6fr 1fr
  grid-template-columns: 1fr 4fr 1fr
  display: grid
  text-decoration: none

.blog-title
  grid-column-start: 2
  grid-column-end: span 2
  color: $primary-color
  margin: 0
  letter-spacing: 1px

.blog-image
  grid-row-start: 1
  grid-row-end: span 3
  justify-self: left
  align-self: center
  display: inline-block

.blog-preview
  color: $primary-color
  align-self: center
  text-decoration: none

.blog-date
  color: $grey
  font-size: .8rem
  justify-self: right

.blog-author
  grid-column-start: 2
  color: $grey
  font-size: .8rem
